---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<div class="nb-intro" markdown="1">
    At LSE, I have taught Macroeconomics at both the undergraduate (EC1B5, EC301) and graduate levels (EC413), Math boot camp for the graduate students (EC400), and foundations of economics for the first year undergraduate students in Economics.

    Some rewarding excerpts from my last teaching evaluation: "*[He has] amazing presentation skills, ability to explain things clearly and a great sense of humor*", "*[he is] humble, patient, enlightened*", "*fantastic tutor who's enthusiasm for macroeconomics is as undeniable as it is infectious*", and "*amazing tutor, literally the best I have had!*" [Here](https://ssabet.github.io/files/04-EC413_AT24_Soroush_Sabet.pdf) you can find the full teaching evaluation file.

    
    This page contains links to interactive notebooks that I created for (beginning) graduate Macroeconomics course at the LSE (EC413), 2023-2024, with [Matthias Doepke](https://mdoepke.github.io/index.html) and [Silvana Tenreyro](https://personal.lse.ac.uk/tenreyro/) as lecturers. My students found them extremely useful. Built using the [Pluto](https://github.com/fonsp/Pluto.jl) and [PlutoUI](https://github.com/JuliaPluto/PlutoUI.jl) packages of Julia ecosystem, these are mainly meant to help students visualise the models and build intuition by enabling them to do comparative statics (and dynamics) simply by dragging a slider! No knowledge of Julia is required, but interested students can reveal the underlying code and use it as a basic intro to Julia and numerical methods in Macroeconomics.
</div>
<br>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
